<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="clientId" value="6ccc060f-633d-4bfc-8873-3f38066f21ab"/>
        <!--<add key="clientId" value="fef081f5-aa31-410b-9f08-d84f77bdfd53"/>-->
        <!--<add key="ClientId" value="6ccc060f-633d-4bfc-8873-3f38066f21ab"/>-->
        <!--<add key="RedirectURI" value="https://portal-su1.usw.int.datadirectory.azure-test.net/oauth/replyto"/>-->
        <!--<add key="RedirectURI" value="https://login.windows-ppe.net/common/oauth/replyto"/>-->
        <!--<add key="RedirectURI" value="https://portal-su1.usw.int.datadirectory.azure-test.net/oauth/replyto"/>-->
        <add key="RedirectURI" value="https://login.live.com/oauth20_desktop.srf"/>
        <add key="ResourceId" value="https://api.azuredatacatalog.com"/>
        <add key="ADCImportExport.Properties.Settings"/>
       </appSettings>
  
  <!--<ADCImportExport.Properties.Settings>
    <setting name = "ClientId" serializeAs = "String">
      <value>"6ccc060f-633d-4bfc-8873-3f38066f21ab"</value>
    </setting>
    <setting name = "RedirectURI" serializeAs = "String">
      <value> https://login.live.com/oauth20_desktop.srf</value>
    </setting>
    <setting name = "ResourceId" serializeAs = "String">
      <value> https://datacatalog.azure.com</value>
    </setting>
  </ADCImportExport.Properties.Settings>-->
</configuration>